@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.AnimalType>;

<h1>Animals in the shelter</h1>

<ul>
  @foreach(AnimalType item in Model)
  {
    <li>@Html.ActionLink($"{item.Name}, {item.TypeSpecies}", "Details", new { id = item.AnimalTypeId })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Animal", "Create")</p>